.center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
.Banner-Movie{
    height: 500px;
    overflow: hidden;
    position: relative;
}
.Banner-Movie img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    
}
.Banner-Movie .Image-OverLay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(249,249,249);
    background: linear-gradient(266deg, rgba(249,249,249,0.3956933115042892) 0%, rgba(99,96,136,0.3060574571625525) 30%, rgba(75,73,99,0.4181022750897234) 58%, rgba(2,0,36,0.37888658881521353) 82%, rgba(0,0,12,0.3592787456779587) 100%);
    background: rgb(25,25,25);
    background: linear-gradient(90deg, rgba(25,25,25,0.5592788140646884) 0%, rgba(74,73,73,0.4052171894148284) 100%);
}

.Cast-Movie{
    height: 250px;
    overflow-x: scroll;
    overflow-y: hidden;
    flex-wrap: nowrap;
}
.Cast-Movie::-webkit-scrollbar{
    display: none;
}
.CastItem-image{
    margin: 2px 5px;
}
.CastItem-image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}

iframe{
    width: 100%;
    height: 800px
}
.Movie-detail-contend{
    position: absolute;
    top: 30%;
    left: 5%;
    height: 50%;
    width: 50%;
    /* background-color: white; */
    display: flex;
    justify-content: space-between;
}
.Movie-poster{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all ease-in-out 300ms;
}
.Movie-poster .Heart-Icon{
    color: #fff;
    font-size: 2rem;
    position: absolute;
    display: none;
    /* top: 50%;
    left: 50%; */
}
.Movie-poster:hover .Heart-Icon{
    display: block;
    /* animation: ZoomOut ease-in 400ms forwards; */
}
.Movie-trailer-list{
    display: flex;
    padding: 10pxs;
    height: 300px;
    width: 100vw;
    overflow-y: hidden;
    overflow-x: auto;
}
.Movie-trailer-list iframe{
    width: 550px ;
    height: 100%;
    margin: 0 10px;
}
@keyframes ZoomOut{
    from{
        opacity: 0;
        transform: scale(1);
        

    }
    to{
        opacity: 1;
        display: block;
        transform: scale(1.1);
    }
}
.Movie-poster img{
    box-shadow: 1px 1px 5px rgba(216, 211, 211, 0.356);
}
.Movie-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
    height: 100%;
    color: #fff;
    
}
.Movie-info p{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
            line-clamp: 3; 
    -webkit-box-orient: vertical;
}
.Movie-geners-list{
    display: flex;
    list-style: none;
    width: 100%;
    /* justify-content: space-between; */
    margin: 8px 0px;
    overflow-y: hidden;
    overflow-x: auto;
}
.Movie-geners-list::-webkit-scrollbar{
    display: none;
}
.Movie-geners-item{
    box-shadow: 1px 1px 3px #000;
    border-radius: 10px;
    font-size: 0.9rem;
    /* padding: 5px 0; */
    font-weight: 500;
    margin: 0 10px;
    text-align: center;
}
/* //table */
@media (min-width:740px) and (max-width:1024px){

    .Movie-detail-contend{
        width: 100%;
        margin: 0 5px;
    }
  
}

@media (max-width:739px){
    .Movie-detail-contend{
        top:10%;
        left: 0;
        width : 100%;
        height: 70%;
        margin: 0 5px;
        flex-direction: column;
        align-items: center;
    }
    iframe{
        height: 300px;
    }
    .Movie-geners-item{
        font-size: 0.7rem;
        margin: 0 5px;

    }
    .Movie-poster{
        width: 50%;
        height: 70%;
    }
    .Movie-info h3{
        text-align: center;
    }
    .Movie-info p{
        font-size: 1.3rem;
    }
    .Movie-geners-list{
        display: none;
    }
}
.Movie-Simimlar{
    flex-wrap: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
}
.Movie-Simimlar::-webkit-scrollbar{
    display: none;
}


@keyframes ldio-aqtjlj40clo {
  0% { transform: rotate(0) }
  100% { transform: rotate(360deg) }
}
.ldio-aqtjlj40clo div { box-sizing: border-box!important }
.ldio-aqtjlj40clo > div {
  position: absolute;
  width: 144px;
  height: 144px;
  top: 28px;
  left: 28px;
  border-radius: 50%;
  border: 16px solid #000;
  border-color: #e15b64 transparent #e15b64 transparent;
  animation: ldio-aqtjlj40clo 1s linear infinite;
}

.ldio-aqtjlj40clo > div:nth-child(2), .ldio-aqtjlj40clo > div:nth-child(4) {
  width: 108px;
  height: 108px;
  top: 46px;
  left: 46px;
  animation: ldio-aqtjlj40clo 1s linear infinite reverse;
}
.ldio-aqtjlj40clo > div:nth-child(2) {
  border-color: transparent #f8b26a transparent #f8b26a
}
.ldio-aqtjlj40clo > div:nth-child(3) { border-color: transparent }
.ldio-aqtjlj40clo > div:nth-child(3) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}
.ldio-aqtjlj40clo > div:nth-child(3) div:before, .ldio-aqtjlj40clo > div:nth-child(3) div:after { 
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  top: -16px;
  left: 48px;
  background: #e15b64;
  border-radius: 50%;
  box-shadow: 0 128px 0 0 #e15b64;
}
.ldio-aqtjlj40clo > div:nth-child(3) div:after {
  left: -16px;
  top: 48px;
  box-shadow: 128px 0 0 0 #e15b64;
}

.ldio-aqtjlj40clo > div:nth-child(4) { border-color: transparent; }
.ldio-aqtjlj40clo > div:nth-child(4) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}
.ldio-aqtjlj40clo > div:nth-child(4) div:before, .ldio-aqtjlj40clo > div:nth-child(4) div:after {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  top: -16px;
  left: 30px;
  background: #f8b26a;
  border-radius: 50%;
  box-shadow: 0 92px 0 0 #f8b26a;
}
.ldio-aqtjlj40clo > div:nth-child(4) div:after {
  left: -16px;
  top: 30px;
  box-shadow: 92px 0 0 0 #f8b26a;
}
.loadingio-spinner-double-ring-t4pzllruwfe {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: #ffffff;
}
.ldio-aqtjlj40clo {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-aqtjlj40clo div { box-sizing: content-box; }
/* generated by https://loading.io/ */
